package dashboard_views

import "github.com/lborres/los_logger/views/layouts"

templ Home() {
  <div class="text-red">
    <div>
      <h1>
        Hello
      </h1>
    </div>
  </div>
}

templ HomeIndex(title string, cmp templ.Component){
  @layout.Base(title){
    @cmp
  }
}