package dashboard_views

import "github.com/lborres/los_logger/views/layouts"

templ Home() {
  <h1>Test</h1>
}

templ HomeIndex(title string, cmp templ.Component){
  @layout.Base(title){
    @cmp
  }
}